<div class="alert alert-danger" *ngFor="let error of errors">
  <ul>
    <li>{{error}}</li>
  </ul>
</div>
<div class="alert alert-success" *ngIf="message">
  <ul>
    <li>{{message}}</li>
  </ul>
</div>
<form method="post" role="form" name="changePasswordForm" id="changePasswordForm" class="form-horizontal"
      #changePasswordForm="ngForm"
      (ngSubmit)="changePasswordForm.form.valid && changePassword(changePasswordForm)"
      [mustMatch]="['new_password', 'confirm_new_password']" novalidate>

  <div class="form-group">
    <label class="col-md-2 col-sm-12 control-label change_password_label">Old Password</label>
    <div class="col-md-6 col-sm-12">
      <input
        type="password"
        placeholder="Old Password"
        class="form-control required"
        name="old_password"
        id="old_password"
        [(ngModel)]="userPasswordDetails.old_password"
        #old_password="ngModel"
        required="required"
        old_password/>
      <div *ngIf="changePasswordForm.submitted && old_password.invalid" class="invalid-feedback danger">
        <div *ngIf="old_password.errors.required">Old Password is required</div>
        <div *ngIf="old_password.errors.minlength">Old Password should not be lesser than 5</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 col-sm-12 control-label change_password_label">New Password</label>
    <div class="col-md-6 col-sm-12">
      <input type="password"
             placeholder="New Password"
             class="form-control required"
             name="new_password"
             id="new_password"
             required="required"
             [(ngModel)]="userPasswordDetails.new_password"
             #new_password="ngModel"
             new_password/>
      <div *ngIf="changePasswordForm.submitted && new_password.invalid" class="invalid-feedback danger">
        <div *ngIf="new_password.errors.required">New Password is required</div>
        <div *ngIf="new_password.errors.minlength">New Password should not be lesser than 5</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-sm-12 control-label change_password_label">Confirm New Password</label>
    <div class="col-md-6 col-sm-12">
      <input type="password"
             placeholder="ConfirmNew Password"
             class="form-control required"
             name="confirm_new_password"
             id="confirm_new_password"
             required="required"
             [(ngModel)]="userPasswordDetails.confirm_new_password"
             #confirm_new_password="ngModel"
             confirm_new_password/>
      <div *ngIf="changePasswordForm.submitted && confirm_new_password.invalid" class="invalid-feedback danger">
        <div *ngIf="confirm_new_password.errors.required">Confirm New Password is required</div>
        <div *ngIf="confirm_new_password.errors.minlength">Confirm New Password should not be lesser than 5</div>
        <div *ngIf="confirm_new_password.errors.mustMatch">Passwords must match</div>

      </div>
    </div>
  </div>
  <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-md-4 col-sm-12 col-sm-offset-2">
      <button class="btn btn-primary" type="submit">Change Password</button>
    </div>
  </div>
</form>
